
@using PC_Shop.Models
@model PC

@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
@using (Html.BeginForm("Delete", "PC", FormMethod.Post))
{
	<div class="form-horizontal">
		@Html.LabelFor(model => Model.UserName)
	</div>
	<div class=" form-group">
		@Html.TextBoxFor(model => Model.UserName, "", new { @class = "form-control" })
		@Html.ValidationMessageFor(model => Model.UserName, "", new { @class = "text-danger" })
	</div>
	<div class=" form-group">
		<input class=" btn btn-danger" type="submit" value="Delete" />
	</div>
}

